#sec-d421 {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}

#resetPassDiv {
    margin: 0 auto;
    padding: 30px;
}


.ui-igtrialwatermark {
    background-image: none !important;
}

.u-section-1 .u-sheet-1 {
  min-height: 628px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1079px;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  min-height: 628px;
  background-image: url("images/2019-06-03_Wired_Guides_to_Aliens.gif");
  background-position: 50% 50%;
}


.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 19px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 628px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  height: 359px;
  margin: 0 -30px 0 30px;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    min-height: 547px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 419px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-1 .u-image-1 {
    min-height: 629px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1 .u-image-1 {
    min-height: 511px;
  }
}




/*more*/
#GifFirst{
    width:103%;
    height:72%;
}

#betterHead {
    font-family: 'Sacramento', cursive;
    text-align: center;
    color: darkgoldenrod;
    padding-bottom: 32px;
    font-size: 66px;
}

#login {
    bottom: 12px;
}


/*new*/
@media screen and (max-width: 540px) {
    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        top: -290px;
    }
}

@media screen and (max-width: 540px) {
    #GifFirst

{
    height: 50%;
}

}

@media screen and (max-width: 540px) {
    #sec-d421 {
        position: inherit;
        right: 0;
        left: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 540px) {
    #betterHead {
        font-size: 32px;
        padding-bottom: 2px;
    }
}

@media screen and (max-width: 540px) {
    .u-input {
        float: right;
        width: 87%;
        padding: 7px 2px;
    }
}

@media screen and (max-width: 540px) {
    .u-btn {
        padding: 6px 13px;
        border-radius: 4px;
    }
}

@media screen and (max-width: 540px) {
    #login {
        bottom: 23px;
        margin-left: 44px;
    }
}

@media screen and (max-width: 540px) {
    a {
        margin-left: 48px;
    }
}