.u-section-1 .u-sheet-1 {
    min-height: 1189px;
}

.u-section-1 .u-text-1 {
    text-transform: none;
    margin: 115px 30px 0 813px;
}

.u-section-1 .u-shape-1 {
    height: 79px;
    background-image: none;
    margin: -59px auto 0 0;
}

.u-section-1 .u-shape-2 {
    height: 163px;
    background-image: none;
    width: 1140px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-btn-1 {
    border-style: none;
    font-size: 1rem;
    background-image: none;
    margin: -130px 37px 0 auto;
    padding: 8px 35px 9px;
}

.u-section-1 .u-btn-2 {
    border-style: none;
    font-size: 1rem;
    background-image: none;
    margin: -45px auto 0 754px;
    padding: 8px 35px 9px 34px;
}

.u-section-1 .u-btn-3 {
    border-style: none;
    font-size: 1rem;
    background-image: none;
    margin: -43px 223px 0 auto;
    padding: 8px 35px 9px 34px;
}

.u-section-1 .u-btn-4 {
    border-style: none;
    font-size: 1rem;
    background-image: none;
    margin: -46px 434px 0 auto;
    padding: 8px 35px 9px;
}

.u-section-1 .u-btn-5 {
    border-style: none;
    font-size: 1rem;
    background-image: none;
    margin: -44px 434px 0 auto;
    padding: 8px 35px 9px;
}

.u-section-1 .u-btn-6 {
    border-style: none;
    font-size: 1rem;
    background-image: none;
    margin: -45px auto 0 349px;
    padding: 8px 35px 10px;
}

.u-section-1 .u-btn-7 {
    border-style: none;
    font-size: 1rem;
    background-image: none;
    margin: -45px auto 0 349px;
    padding: 8px 35px 10px;
}

.u-section-1 .u-btn-8 {
    border-style: none;
    font-size: 1rem;
    background-image: none;
    margin: -46px auto 0 349px;
    padding: 8px 35px 10px;
}

.u-section-1 .u-btn-9 {
    border-style: none;
    font-size: 1rem;
    background-image: none;
    margin: -45px auto 0 349px;
    padding: 8px 35px 10px;
}

.u-section-1 .u-btn-10 {
    border-style: solid;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: normal;
    margin: 25px 37px 0 auto;
    padding: 0;
}

.u-section-1 .u-shape-3 {
    height: 78px;
    background-image: none;
    margin: 114px auto 0 0;
}

.u-section-1 .u-text-2 {
    text-transform: none;
    margin: -58px 40px 0 797px;
}

.u-section-1 .u-shape-4 {
    height: 168px;
    background-image: none;
    margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
    margin: -173px 30px 0 670px;
}

.u-section-1 .u-btn-11 {
    border-style: none;
    font-size: 1rem;
    background-image: none;
    margin: 29px 216px 0 auto;
    padding: 8px 35px 10px;
}

.u-section-1 .u-btn-12 {
    border-style: none;
    font-size: 1rem;
    background-image: none;
    margin: -45px 40px 0 auto;
    padding: 8px 35px 10px;
}

.u-section-1 .u-btn-13 {
    border-style: solid;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: normal;
    margin: 20px 40px 0 auto;
    padding: 0;
}

.u-section-1 .u-shape-5 {
    height: 80px;
    background-image: none;
    margin-top: 115px;
    margin-bottom: 0;
    margin-left: 0;
}

.u-section-1 .u-text-4 {
    text-transform: none;
    margin: -59px 30px 0 800px;
}

.u-section-1 .u-shape-6 {
    height: 151px;
    background-image: none;
    margin-bottom: 0;
    margin-top: 21px;
    margin-left: 0;
}

.u-section-1 .u-btn-14 {
    border-style: none;
    font-size: 1rem;
    background-image: none;
    margin: -118px 40px 0 auto;
    padding: 8px 35px 10px;
}

.u-section-1 .u-btn-15 {
    border-style: none;
    font-size: 1rem;
    background-image: none;
    margin: -44px auto 0 754px;
    padding: 8px 35px 10px;
}

.u-section-1 .u-btn-16 {
    border-style: none;
    font-size: 1rem;
    background-image: none;
    margin: -45px 421px 0 auto;
    padding: 8px 35px 10px;
}

.u-section-1 .u-btn-17 {
    border-style: none;
    font-size: 1rem;
    background-image: none;
    margin: -44px auto 0 374px;
    padding: 8px 35px 9px;
}

.u-section-1 .u-btn-18 {
    border-style: solid;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: normal;
    margin: 20px 40px 0 auto;
    padding: 0;
}

.u-section-1 .u-btn-19 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin: 90px auto 57px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
        margin-top: 1088px;
        margin-right: 0;
        margin-left: 643px;
    }

    .u-section-1 .u-shape-1 {
        margin-top: 119px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-shape-2 {
        width: 940px;
        margin-top: -1176px;
        margin-left: 100px;
    }

    .u-section-1 .u-btn-1 {
        width: 153px;
        height: 44px;
        margin-right: 222px;
    }

    .u-section-1 .u-btn-2 {
        width: 157px;
        height: 45px;
        margin-top: -38px;
        margin-right: 395px;
        margin-left: 554px;
    }

    .u-section-1 .u-btn-3 {
        margin-right: 123px;
    }

    .u-section-1 .u-btn-4 {
        width: 161px;
        height: 45px;
        margin-right: auto;
        margin-left: 407px;
    }

    .u-section-1 .u-btn-5 {
        width: 161px;
        height: 44px;
        margin-right: 334px;
    }

    .u-section-1 .u-btn-6 {
        width: 155px;
        height: 45px;
        margin-left: 222px;
    }

    .u-section-1 .u-btn-7 {
        width: 155px;
        height: 45px;
        margin-left: 249px;
    }

    .u-section-1 .u-btn-8 {
        width: 155px;
        height: 45px;
        margin-left: 249px;
    }

    .u-section-1 .u-btn-9 {
        margin-left: 249px;
    }

    .u-section-1 .u-btn-10 {
        margin-right: 100px;
    }

    .u-section-1 .u-shape-3 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-text-2 {
        margin-right: 100px;
        margin-left: 770px;
    }

    .u-section-1 .u-shape-4 {
        margin-top: 49px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-text-3 {
        margin-top: -80px;
        margin-right: 100px;
        margin-left: 600px;
    }

    .u-section-1 .u-btn-11 {
        margin-top: 4px;
        margin-right: 16px;
        margin-left: 348px;
    }

    .u-section-1 .u-btn-12 {
        margin-right: 0;
        margin-left: 348px;
    }

    .u-section-1 .u-btn-13 {
        margin-right: 0;
    }

    .u-section-1 .u-shape-5 {
        margin-top: 178px;
        margin-left: initial;
    }

    .u-section-1 .u-text-4 {
        margin-top: 866px;
        margin-right: 0;
        margin-left: 630px;
    }

    .u-section-1 .u-shape-6 {
        margin-left: initial;
    }

    .u-section-1 .u-btn-14 {
        margin-right: 0;
    }

    .u-section-1 .u-btn-15 {
        margin-left: 554px;
    }

    .u-section-1 .u-btn-16 {
        margin-right: 221px;
    }

    .u-section-1 .u-btn-17 {
        margin-left: 174px;
    }

    .u-section-1 .u-btn-18 {
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-text-1 {
        margin-top: 1807px;
        margin-left: 423px;
    }

    .u-section-1 .u-shape-2 {
        width: 720px;
        margin-top: -1896px;
        margin-left: 210px;
    }

    .u-section-1 .u-btn-1 {
        margin-right: 321px;
    }

    .u-section-1 .u-btn-2 {
        margin-right: auto;
        margin-left: 489px;
    }

    .u-section-1 .u-btn-3 {
        margin-right: 210px;
    }

    .u-section-1 .u-btn-4 {
        margin-left: 321px;
    }

    .u-section-1 .u-btn-5 {
        margin-right: 224px;
    }

    .u-section-1 .u-btn-6 {
        margin-left: 321px;
    }

    .u-section-1 .u-btn-7 {
        margin-left: 210px;
    }

    .u-section-1 .u-btn-8 {
        margin-left: 210px;
    }

    .u-section-1 .u-btn-9 {
        margin-left: 210px;
    }

    .u-section-1 .u-btn-10 {
        margin-right: 210px;
    }

    .u-section-1 .u-shape-3 {
        margin-top: 294px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-text-2 {
        margin-right: 210px;
        margin-left: 660px;
    }

    .u-section-1 .u-text-3 {
        margin-right: 210px;
        margin-left: 490px;
    }

    .u-section-1 .u-btn-11 {
        margin-right: 0;
        margin-left: 238px;
    }

    .u-section-1 .u-btn-12 {
        margin-left: 238px;
    }

    .u-section-1 .u-text-4 {
        margin-left: 410px;
    }

    .u-section-1 .u-btn-15 {
        margin-left: 334px;
    }

    .u-section-1 .u-btn-16 {
        margin-right: 1px;
    }

    .u-section-1 .u-btn-17 {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-text-1 {
        margin-left: 243px;
    }

    .u-section-1 .u-shape-2 {
        width: 540px;
        margin-left: 300px;
    }

    .u-section-1 .u-btn-1 {
        margin-right: 411px;
    }

    .u-section-1 .u-btn-2 {
        margin-left: 411px;
    }

    .u-section-1 .u-btn-3 {
        margin-right: 300px;
    }

    .u-section-1 .u-btn-4 {
        margin-left: 411px;
    }

    .u-section-1 .u-btn-5 {
        margin-right: 300px;
    }

    .u-section-1 .u-btn-6 {
        margin-left: 411px;
    }

    .u-section-1 .u-btn-7 {
        margin-left: 300px;
    }

    .u-section-1 .u-btn-8 {
        margin-left: 300px;
    }

    .u-section-1 .u-btn-9 {
        margin-left: 300px;
    }

    .u-section-1 .u-btn-10 {
        margin-right: 300px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 300px;
        margin-left: 570px;
    }

    .u-section-1 .u-text-3 {
        margin-right: 300px;
        margin-left: 400px;
    }

    .u-section-1 .u-btn-11 {
        margin-left: 300px;
    }

    .u-section-1 .u-btn-12 {
        margin-left: 300px;
    }

    .u-section-1 .u-text-4 {
        margin-left: 230px;
    }

    .u-section-1 .u-btn-15 {
        margin-left: 154px;
    }

    .u-section-1 .u-btn-16 {
        margin-right: 0;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-text-1 {
        margin-top: 1619px;
        margin-left: 43px;
    }

    .u-section-1 .u-shape-1 {
        margin-top: 135px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-shape-2 {
        width: 340px;
        margin-top: -1762px;
        margin-left: 400px;
    }

    .u-section-1 .u-btn-1 {
        margin-right: auto;
        margin-left: 489px;
    }

    .u-section-1 .u-btn-2 {
        margin-left: 489px;
    }

    .u-section-1 .u-btn-3 {
        margin-right: 400px;
    }

    .u-section-1 .u-btn-4 {
        margin-left: 489px;
    }

    .u-section-1 .u-btn-5 {
        margin-right: 400px;
    }

    .u-section-1 .u-btn-6 {
        margin-left: 489px;
    }

    .u-section-1 .u-btn-7 {
        margin-left: 400px;
    }

    .u-section-1 .u-btn-8 {
        margin-left: 400px;
    }

    .u-section-1 .u-btn-9 {
        margin-left: 400px;
    }

    .u-section-1 .u-btn-10 {
        margin-right: 400px;
    }

    .u-section-1 .u-shape-3 {
        margin-top: 258px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-text-2 {
        margin-right: 400px;
        margin-left: 470px;
    }

    .u-section-1 .u-shape-4 {
        margin-top: 57px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-text-3 {
        margin-right: 400px;
    }

    .u-section-1 .u-btn-11 {
        margin-left: 400px;
    }

    .u-section-1 .u-btn-12 {
        margin-left: 400px;
    }

    .u-section-1 .u-shape-5 {
        margin-top: 220px;
        margin-left: initial;
    }

    .u-section-1 .u-text-4 {
        margin-left: 30px;
    }

    .u-section-1 .u-btn-15 {
        margin-left: 0;
    }
}

/тег/
.container {
    height: 100%;
    width: 100%;
    margin: -1px 0px 70px;
}

.u-palette-1-light-3 {
    float: right;
}

input {
    overflow: visible;
    float: right;
    text-align: center;
}

h3 {
    float: right;
}

.row {
    float: right;
    flex-flow: row-reverse;
    padding-top: 22px;
    height: 100%;
    width: 100%;
    padding: 20px;
}

#Add {
    float: left;
}

select, input {
    text-align: center;
}

.u-palette-1-light-3 {
    float: right;
    text-align-last: end;
    height: 100%;
}

#first {
    border: 1px solid #000000;
    float: right;
    height: 100%;
    width: 100%;
}

/*#second {
    border: 1px solid #000000;
    height: 100%;
    width: 100%;
}*/

/*#mid {
    border: 1px solid #000000;
    height: 100%;
    width: 100%;
}*/

/*#last1 {
    border: 1px solid #000000;
    height: 100%;
    width: 100%;
}*/

/*#last2 {
    border: 1px solid #000000;
    height: 100%;
    width: 100%;
}*/

.border {
    background-color: darkgrey;
    color: white;
    padding-top: 10px;
    margin-block-start: 30px;
}

.space {
    margin: 0px 0px 30px 0px;
}

.bor {
    border: 1px solid #000000;
}



@media only screen and (max-device-width: 900px) {
    .u-svg-link {
        width: 50% !important;
        height: 50% !important;
    }
}

.bor {
    height: 100%;
    width: 100%;
}

input {
    height: 100%;
}

.next {
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    background-color: black;
    font-family: Tahoma;
    font-weight: bold;
}

    .next:hover {
        border: 1px solid green;
        background-color: green;
    }

.next2 {
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    background-color: black;
    font-family: Tahoma;
    font-weight: bold;
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: larger;
}

    .next2:hover {
        border: 1px solid green;
        background-color: green;
    }



.problem {
    /*float: right;
    text-align-last: end;
    height: 100%;*/
}

@media only screen and (max-device-width: 600px) {
    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
        width: 21% !important;
        float: right;
        padding-left: 475px;
        background-color: brown;
    }
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    float: right;
    background-color: aqua;
}

#ph1 > .border {
    background-color: #8fbc8fba;
}

#ph2 > .border {
    background-color: #e68387db;
}

#ph3 > .border {
    background-color: #adcce9;
}

#ph4 > .border {
    background-color: #adcce9;
}

#ph5 > .border {
    background-color: #f9e79b;
}

#first {
    background-color: #8fbc8fba;
}

#second {
    background-color: #e68387db;
}

#three {
    background-color: #adcce9;
}

#four {
    background-color: #adcce9;
}

